body,
html {
    margin: 0;
    padding: 0;
    background-color: #282c34;
}

.App-header {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.available-container,
.all-centers-container {
    height: calc(100vh - 122px);
    width: 100%;
    border: 1px solid white;
    margin: 20px;
    /* padding: 20px; */
    overflow: scroll;
    position: relative;
}
.title {
    position: sticky;
    top: 0;
    background-color: white;
    color: black;
    padding: 10px;
    text-align: center;
    margin: 0;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.border-line {
    border-bottom: 1px solid #ededed1f;
}

.updated-time {
    color: #ededed69;
}

.row > div {
    margin: 2px 5px;
    padding: 2px 5px;
    font-size: 12px;
}

.green {
    color: white;
    background: green;
}

.red {
    color: white;
    background: red;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.icon-button {
    padding: 6px 20px;
}
.icon-button > span {
    padding: 0 6px;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 70px;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
}
.logo {
    cursor: pointer;
}

.nav-area {
    list-style: none;
    padding: 0;
}

.nav-area li {
    display: inline-block;
    padding: 0 15px;
    text-transform: uppercase;
}

.nav-area li a {
    transition: 0.3s;
    color: #000;
}

.nav-area li a:hover {
    color: #d22938;
}

.btn-area {
    cursor: pointer;
    color: #000;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 5px;
    background: #d22938;
}

.volume-controll {
    display: flex;
    flex-direction: row;
}

.token-input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* min-height: 80%; */
}

.token-input > label {
    color: #fff;
    padding: 20px;
}
.token-input > textarea {
    min-height: 200px;
    min-width: 70%;
}

.token-alert {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    word-wrap: break-word;
    word-break: break-all;
    padding: 20px;
    min-height: 20%;
}

.error {
    color: #d22938;
}

@media only screen and (max-width: 600px) {
    .App-header,
    .volume-controll {
        flex-direction: column;
        overflow: none;
    }
    .available-container,
    .all-centers-container {
        height: fit-content;
        overflow: none;
    }

    .loader,
    header {
        height: fit-content;
        padding: 10px;
    }
}
