body,
html {
    margin: 0;
    padding: 0;
    background-color: #282c34;
}

.App-header {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.available-container,
.all-centers-container {
    height: calc(100vh - 122px);
    width: 100%;
    border: 1px solid white;
    margin: 20px;
    /* padding: 20px; */
    overflow: scroll;
    position: relative;
}
.title {
    position: sticky;
    top: 0;
    background-color: white;
    color: black;
    padding: 10px;
    text-align: center;
    margin: 0;
    text-transform: capitalize;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.border-line {
    border-bottom: 1px solid #ededed1f;
}

.updated-time {
    color: #ededed69;
}

.row > div {
    margin: 2px 5px;
    padding: 2px 5px;
    font-size: 12px;
}

.green {
    color: white;
    background: green;
}

.red {
    color: white;
    background: red;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.icon-button {
    padding: 6px 20px;
}
.icon-button > span {
    padding: 0 6px;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 70px;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
}
.logo {
    cursor: pointer;
}

.nav-area {
    list-style: none;
    padding: 0;
}

.nav-area li {
    display: inline-block;
    padding: 0 15px;
    text-transform: uppercase;
}

.nav-area li a {
    transition: 0.3s;
    color: #000;
}

.nav-area li a:hover {
    color: #d22938;
}

.btn-area {
    cursor: pointer;
    color: #000;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 5px;
    background: #d22938;
}

.volume-controll {
    display: flex;
    flex-direction: row;
}

.token-input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* min-height: 80%; */
}

.token-input > label {
    color: #fff;
    padding: 20px;
}
.token-input > textarea {
    min-height: 200px;
    min-width: 70%;
}

.token-alert {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    word-wrap: break-word;
    word-break: break-all;
    padding: 20px;
    min-height: 20%;
}

.error {
    color: #d22938;
}

.success {
    color: green;
}

.banner {
    background-color: rgba(255, 255, 255, 0.9);
    margin: 20px 20px 0;
    padding: 10px;
}

.be-info > div {
    width: 25%;
}
.be-info > div:first-child {
    width: 20px;
}

.right-align {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: end;
}

.header-baner {
    justify-content: space-between;
    padding: 10px 20px 0 0;
}
.my-info {
    color: white;
    font-size: 18px !important;
}

@media only screen and (max-width: 600px) {
    .App-header,
    .login,
    .otp,
    .header-baner,
    .volume-controll {
        flex-direction: column;
        overflow: none;
    }

    .header-baner {
        padding: 3px;
    }
    .available-container,
    .all-centers-container {
        height: fit-content;
        overflow: none;
    }

    .loader,
    header {
        height: fit-content;
        padding: 10px;
    }
}

.contact-icons .fa:hover {
    opacity: 0.7;
}

.contact-icons .fa {
    margin: 0 5px;
    padding: 5px;
}

.fa-facebook {
    background: #3b5998;
    color: white;
}

.fa-twitter {
    background: #55acee;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-pinterest {
    background: #cb2027;
    color: white;
}

.fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
    background: #00aff0;
    color: white;
}
